.header2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #0c3b35e2;
    /* margin-top: 10px; */
}

.header2__option {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header2__optionline1 {
    font-size: 18px;
    padding-left: 20px;
    /* width: 100%; */
}

.left {
    /* position: fixed; */
    padding-left: 500px;
    /* right: 15px; */
}
